.catalogue-header h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
  color: #305F72; /* secondary */
}

.catalogue-page {
      display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #F2EFED;
    color: #1A1F2B;
}

.catalogue-content {
display: flex;
    width: 100%;
    max-width: auto;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 5rem;
    padding-top: 5rem;
    /* margin: auto 0; */
    background: #F2EFED;
    flex-wrap: nowrap;
    flex-direction: row;
}

.catalogue-content h2 {
    color: #1A1F2B;
}

.catalogue-list-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-right: 8rem;
}

/* Sidebar Filters */

 .filters {
display: flex;
    flex: 0 0 300px;
    background: #e7e7e7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #43758930;
    position: sticky;
    top: 20px;
    align-self: flex-start;
    margin-left: 8rem;
    flex-direction: column;
    /* align-content: flex-start; */
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-list h3 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
  color: #1a1f2b;
}

.dropdown {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.dropdown-item-filter {
  padding: 6px 20px;
  background: #305F72;
  border: 1px solid #ccc;
  border-radius: 999px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s, color 0.2s;
  color: white;
  margin: 5px;
}

.dropdown-item-filter:hover {
  background: #326275b1;
}

.dropdown-item-filter.active {
  background: #b37341;
  color: white;
  border-color: #8c552f;
}

.reset-btn {
  padding: 8px 20px;
  margin-bottom: 15px;
  background: #3d6c80;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.reset-btn:hover {
  background: #2a4c59;
}

.no-results {
    color: #1A1F2B;
}

/* Coin list column */

.coin-list {
  display: flex;
  background: #F2EFED;
  padding: 0px 20px 20px 20px;
  border-radius: 20px;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

.coin-row-list {
  display: flex;
  background: #e7e7e7;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0px 3px 10px #43758930;
  /* flex-direction: row; */
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.coin-row-list:hover {
  box-shadow: 0px 3px 10px #43758947;
  transform: scale(1.01);
  cursor: pointer;
}

.coin-info-list {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.coin-img-list {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 999px;
  background: #F2EFED;
  mix-blend-mode: darken;
}

.coin-text-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.coin-text-list h3 {
  margin: 0;
  font-weight: bold;
  color: #1A1F2B;
}

.coin-text-list p {
  margin: 5px 0 0;
  font-size: 0.9rem;
}

.load-more-wrapper {
  text-align: center;
  margin-top: 20px;
}

.load-more {
  background: #3d6c80;
  border: none;
  padding: 12px 25px;
  color: #F2EFED;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s;
  margin: 0 auto;
}

.load-more:hover {
  background: #2a4c59;
}

@media (max-width: 900px) {
  .catalogue-content {
    flex-direction: column;
    padding: 1rem 1rem 3rem 1rem;
  }

  .filters {
    /* width: 100%; */
    display: flex;
        position: relative;
        top: 0;
        margin-bottom: 20px;
        flex-wrap: nowrap;
        /* align-content: flex-start; */
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
                margin-left: 1rem;
        margin-right: 1rem;
}

  .coin-list {
    width: 100%;
  }
}

.attribute-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin: 1rem 0;
}

.attribute-text {
  background: transparent;
  border: 2px solid #305f7240;
  padding: 0.3rem 1rem;
  border-radius: 999px;
  font-size: 0.7rem;
}

.span.attribute-text {
  color: #1A1F2B;
}

/*for back to top button*/
.back-to-top {
  position: fixed;
  bottom: 5%;
  right: 30px;
  z-index: 1000;
  background-color: #1A1F2B;
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 999px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #305F72;
}

.add-to-wishlist {
  margin: 0 0 0 auto;
}