* {
    box-sizing: border-box;
}

.homePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #F2EFED;
    color: #222;
}

.homePage a {
  text-decoration: none;
}

.hero {
  color: white;
  text-align: center;
  padding: 6rem 1rem;
  background-image: url('../assets/AboutUsHeader.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(26, 31, 43, 0.7);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 80%;
    margin: 0 auto;
}

.hero h1 {
    font-size: calc(3rem + 1vw);
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.8); /* Soft black shadow */
}

.hero p {
    font-size: calc(0.5rem + 1vw);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); /* Lighter for smaller text */
    margin-bottom: 3rem;
}

section.featured {
    margin-bottom: 5rem;
    margin-top: 3rem;
}

section.featured h2 {
    margin-bottom: 1rem;
}


.featured {
  margin-bottom: 3rem;
  width: 80%;
  margin: 0 auto;
}

.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


.carousel {
    display: flex;
    scroll-behavior: smooth;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: row;
    /* align-content: center;
    justify-content: center; */
}

.coin-card {
    display: flex;
    background: #e7e7e7;
    border-radius: 10px;
    padding: 15px 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    /* width: 100%; */
    max-width: 250px;
    box-shadow: 0px 3px 5px #43758922;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.coin-card:hover {
    box-shadow: 0px 3px 5px #43758943;
  transform: scale(1.01);
  cursor: pointer;
}

.coin-img {
    width: calc(13rem + 1vw);
    padding-left: 1rem;
    mix-blend-mode: darken;
    margin: auto 0;
}

.coin-info {
    padding: 0.8rem 1rem;
    width: 100%;
}

.coin-info h3 {
    margin: 0 0 0.3rem 0;
    font-size: 1.2rem;
    color: #1a1f2b;
}

.coin-info p {
    margin: 0;
    color: #666;
    font-size: 0.7rem;
}

.coin-price {
    margin-top: 0.5rem;
    font-weight: 700;
    color: #b87332;
    font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
    .featured-grid {
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    }
    .hero-content h1 {
    font-size: 2rem;
    }
}