.order-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: #F2EFED;
    color: #1A1F2B;
}

.order-pipeline h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #305F72; /* secondary */
}

.order-card {
    background: #e7e7e7;
    box-shadow: 0px 3px 10px #43758930;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 2rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 80%;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

#orderDate {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: #1A1F2B;
}

.order-item img{
    border-radius: 999px;
    mix-blend-mode: darken;
}

.quantity-text {
  color: #B87332;
}

.cost-text {
  /* font-weight: bold; */
  color: #305F72;
}