/* Seller Page Styling with Brand Colours */

.seller-page {
  max-width: 70%;
  min-width: 450px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #F2EFED; /* neutral background */
  color: #1A1F2B; /* primary text */
  min-height: 100vh;
}

.seller-page h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #305F72; /* secondary */
}

.seller-page h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #B87332; /* accent highlight */
}

.seller-page h3 {
  margin-top: 3rem;
  /* font-size: 1.2rem; */
  color: #305F72; /* secondary */
}

.seller-page p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #305F72; /* secondary */
}

.seller-page h4 {
  margin-top: 1rem;
  font-weight: lighter;
  font-size: 1.1rem;
  color: #305F72;
}

/* Message styling */
.seller-message {
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 6px;
  background-color: #7DA0AE; /* background highlight */
  color: #1A1F2B;
}

  .seller-inputs input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: transparent;
    border: 2px solid #1A1F2B;
    color: #1A1F2B;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 999px;
  }
  .seller-inputs input:focus {
    box-shadow: 0 0 0 2px #B87332;
    border: 2px solid #B87332;
    outline: none;
  }

  .seller-inputs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: 70%;
  } 

  .floating-label {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
  }

.floating-label label {
  margin-left: 1.3rem;
}

    /* Floating label styles */
  /* .floating-label {
    position: relative;
    margin-bottom: 15px;
  }

  .floating-label input {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: transparent;
    border: 2px solid #1A1F2B;
    color: #1A1F2B;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 999px;

    text-shadow: 000;
    transition: text-shadow 0.3s ease;
  }

  .floating-label input::placeholder {
    color: transparent;
  }

  .floating-label label {
    position: absolute;
    top: 14px;
    left: 12px;
    color: #C8D9E2;
    font-size: 1rem;
    transition: all 0.2s ease-out;
    padding: 0 4px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
  }

  .floating-label input:focus + label,
  .floating-label input:not(:placeholder-shown) + label {
    top: -12px;
    left: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #1a1f2bb8;
  }

  .floating-label input:focus {
    box-shadow: 0 0 0 2px #B87332;
    border: 2px solid #B87332;
    outline: none;
  } */
