<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2025 CurioCrow</p>
      <div class="footer-links">
        <a href="../components/underConstruction.html">Privacy Policy</a>
        <a href="../components/underConstruction.html">Contact</a>
        <a href="../components/underConstruction.html">FAQ</a>
      </div>
      <div class="footer-socials">
        <a href="https://twitter.com" target="_blank">Twitter</a>
        <a href="https://instagram.com" target="_blank">Instagram</a>
        <a href="https://facebook.com" target="_blank">Facebook</a>
      </div>
    </div>
  </footer>